.create-post-button-container {
  position: relative;
}

.create-post-button {
  font-size: 0.875rem;
  padding: 0.6rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-post-button:hover {
  background-color: #0056b3;
}
