.home-container {
    /* min-height: 100vh; */
    width: 100vw;
    background-color: #f3f4f6;
    color: #1f2937;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-size: 1.75rem;
    color: #2563eb;
    font-weight: 700;
  }
  
  .header nav button {
    font-size: 0.875rem;
    background-color: #2563eb;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  
  .header nav button:hover {
    background-color: #1d4ed8;
  }
  
  .main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .main h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .main p {
    max-width: 600px;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    color: #4b5563;
  }
  
  .main button {
    background-color: #2563eb;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    border-radius: 9999px;
    cursor: pointer;
    border: none;
    transition: background-color 0.25s;
  }
  
  .main button:hover {
    background-color: #1d4ed8;
  }

  .btn-create-post {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-create-post:hover {
  background-color: #019875;
}
  
.profil-preview {
  cursor: pointer;
}

.profil-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}
